<div class="body">
  <app-header></app-header>
  <app-list title="Destaques" [movies]="nowPlaying"></app-list>
  <app-list title="Animação" [movies]="animation"></app-list>
  <app-list title="Aventura" [movies]="adventure"></app-list>
  <app-list title="Lançamentos" [movies]="upComing" ></app-list>
  <app-list title="Fantasia" [movies]="fantasy"></app-list>
  <app-list title="Família" [movies]="family"></app-list>
</div>
<footer>
  <p>Feito por Rodinei Cirineu</p>
  <p>Todos os direitos de imagem para Netflix</p>
  <p>Dados do site Themoviedb.org</p>
</footer>