<div class="body">
  <app-header></app-header>
  <app-list title="Destaques" [movies]="nowPlaying"></app-list>
  <app-list title="Comédia" [movies]="comedy"></app-list>
  <app-list title="Originals" [movies]="originals"></app-list>
  <app-list title="Terror" [movies]="horror" ></app-list>
  <app-list title="Drama" [movies]="animation"></app-list>
  <app-list title="Documentário" [movies]="documentary"></app-list>
</div>
<footer>
  <p>Feito por Rodinei Cirineu</p>
  <p>Todos os direitos de imagem para Netflix</p>
  <p>Dados do site Themoviedb.org</p>
</footer>
